.button-group {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999999;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 8px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  display: flex;
  align-items: center;
  /* margin: 1em 0px 0.5em 1em; */
  list-style: none;
  padding: 0px;
  border-radius: 2em;
}

.button-group .sk-button {
  height: 32px;
  width: 32px;
  margin: 2px 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.button-group .sk-button:active {
  background-color: rgb(240, 240, 240);
}

/* 设定icon大小 */
.icon-close {
  transform: scale(0.8) !important;
}
.icon-check {
  transform: scale(1) !important;
}
.icon-eye {
  transform: scale(0.7) !important;
}
