{{SKELETON_MAP}}
<style>
      @keyframes flush {
        0% {
          left: -100%;
        }
        50% {
          left: 0;
        }
        100% {
          left: 100%;
        }
      }
    </style>
    <div class="{{SKELETON_CLASS}}" style="
      animation: flush 2s linear infinite;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 9999;
      background: linear-gradient(to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, .85) 50%,
        rgba(255, 255, 255, 0) 100%);
    "></div>
    <div class="{{SKELETON_CLASS}} {{SKELETON_CONTAINER_CLASS}}" style="
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 9998;
      background-repeat: no-repeat !important;
      background-size: 100% auto !important;
      background-color: #FFFFFF !important;
      background-position: center 0 !important;
    "></div>
    <script class="{{SKELETON_CLASS}}">
    void function() {
      function decode(str) {
        var strWithoutPlus = str.replace(/\+/g, ' ');
        try {
          return decodeURIComponent(strWithoutPlus);
        } catch (e) {
          return strWithoutPlus;
        }
      }

      function parseSearch(search) {
        if (!search || typeof search !== 'string') return {};
        var parts = search.replace(/^\?/, '').split('&');
        return parts.reduce((res, part) => {
          var pos = part.indexOf('=');
          if (pos === -1) {
            res[decode(part)] = '';
          } else {
            res[decode(part.slice(0, pos))] = decode(part.slice(pos + 1));
          }
          return res;
        }, {});
      }

      function urlParser(url) {
        var pathPattern = /^#?(\/[^\?\s]*)(\?[^\s]*)?$/;
        var temp;

        if (!url || !(tmp = pathPattern.exec(url))) {
          return {
            pathname: '/',
            query: {},
          };
        }
        return {
          pathname: tmp[1],
          query: parseSearch(tmp[2]),
        };
      }

      function isObjSame(objA, objB) {
        if (!objA || !objB) return false;
        return Object.keys(objA).every(function(key) { return objA[key] === objB[key]; })
      }

      try {
        var urlObj = urlParser(window.location.hash);
        var pathname = urlObj.pathname;
        var query = urlObj.query;
        window.__removeSkeleton = function() {
          setTimeout(function(){
            var removes = document.body.getElementsByClassName('{{SKELETON_CLASS}}');
            removes && Array.prototype.map.call(removes, function(v) { return v; }).forEach(function(item) {
              document.body.removeChild(item);
            });
          }, 0);
        };

        Object.keys(window.__skeletonMap).some(function(key) {
          var tmp = urlParser(key);
          if (tmp.pathname === pathname && isObjSame(tmp.query, query)) {
            var node = document.getElementsByClassName('{{SKELETON_CONTAINER_CLASS}}')[0];
            node && node.style.setProperty('background-image', 'url("' + window.__skeletonMap[key] + '")', 'important');
            return true;
          }
        }) || window.__removeSkeleton();
        
      } catch (e) {
        console.error(e);
      }
    }()
    </script>
